<h1>Sample App</h1>

<p>
  This is the home page for <a href="http://kurup.org">Vinod's</a>
  version of the <a href="http://railstutorial.org">Ruby on Rails
  tutorial</a> sample application.
</p>

<%= link_to "Sign up now!", '#', :class => "signup_button round" %>
